<div class="panel panel-info">
  <div class="panel-heading">
    Entity API Reference
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#entity-api" aria-expanded="true" aria-controls="entity-api">
      hide/show
    </button>
  </div>

  <div class="panel-body" class="collapse.in" id="entity-api" data-toggle="true" style="height:0; overflow: hidden;">
    <div class="col-md-5 text-right text-info">
      <strong>attack_power()</strong>
    </div>
    <div class="col-md-7 text-muted">
      Returns the total calculated attack power of the entity.
    </div>

    <div class="col-md-5 text-right text-info">
      <strong>defend_against_melee(<em>damage</em>)</strong>
    </div>
    <div class="col-md-7 text-muted">
      The entity will take up to <em>damage</em> adjusted by the entity's
      ability to soak melee damage.
    </div>

    <div class="col-md-5 text-right text-info">
      <strong>defend_against_spell(<em>damage</em>)</strong>
    </div>
    <div class="col-md-7 text-muted">
      The entity will take up to <em>damage</em> adjusted by the entity's
      ability to soak spell damage.
    </div>

    <div class="col-md-5 text-right text-info">
      <strong>defense_power()</strong>
    </div>
    <div class="col-md-7 text-muted">
      Returns the total calculated defense power of the entity.
    </div>

    <div class="col-md-5 text-right text-info">
      <strong>is_dead()</strong>
    </div>
    <div class="col-md-7 text-muted">
      Returns true if the entity is dead (hp &lt;= 0)
    </div>

    <div class="col-md-5 text-right text-info">
      <strong>restore_hp(<em>amount</em>)</strong>
    </div>
    <div class="col-md-7 text-muted">
      Restore <em>amount</em> points of HP for the target entity up to the entity's maximum
      HP.
    </div>

    <div class="col-md-5 text-right text-info">
      <strong>take_damage(<em>amount</em>)</strong>
    </div>
    <div class="col-md-7 text-muted">
      Reduce <em>amount</em> points of HP for the target entity down to a minimum of 0.
      This kills the entity.
    </div>
  </div>
</div>
<div class="panel panel-primary">
  <style scoped>
    .panel-footing {
      padding: 18px;
    }

    button {
      margin-left: 6px;
      width: 100px;
    }

    textarea {
      font-family: monospace;
    }
  </style>
  <div class="panel-heading">
    Effects
  </div>
  <div class="panel-body">
    <form>
      <div class="form-group col-md-3">
        <label for="effects">Selected Effect</label>
        <select class="form-control" name="records" size="10"></select>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label for="name">Effect Name</label>
          <input class="form-control" type="text" name="name" placeholder="restore-ten-hp">
        </div>
        <div class="form-group">
          <label for="code">Effect Function</label>        
          <textarea class="form-control" name="code" rows="10" placeholder="def effect(target_entity):&#13;&#10;&nbsp;&nbsp;&nbsp;&nbsp;target_entity.restore_hp(10)"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footing text-right">
    <button class="btn btn-primary save-button">Save</button>
    <button class="btn btn-danger delete-button">Delete</button>
  </div>
</div>
