<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#database">Choose Game Database</a></li>
        <li role="presentation"><a href="#ai">Edit AI Routines</a></li>
        <li role="presentation"><a href="#actions">Edit Actions</a></li>
        <li role="presentation"><a href="#effects">Edit Effects</a></li>
        <li role="presentation"><a href="#equipment">Edit Equipment</a></li>
        <li role="presentation"><a href="#saves">Edit Hero Save Files</a></li>
        <li role="presentation"><a href="#items">Edit Items</a></li>
        <li role="presentation"><a href="#levels">Edit Levels</a></li>        
        <li role="presentation"><a href="#monsters">Edit Monsters</a></li>
        <li role="presentation"><a href="#spells">Edit Spells</a></li>        
      </ul>
    </div>
  </div>
</div>
