<div class="panel panel-default">
  <style scoped>
    select { width: 100%; }
    textarea { font-family: monospace; }
  </style>
  <div class="panel-body col-md-12">
    <div class="col-md-3">
      <form>
        <div class="form-group">
          <label for="effect-names">Effects</label>
          <div id="effect-list"></div>
        </div>
      </form>
    </div>
    <div class="col-md-9">
      <form>
        <div class="form-group">
          <label for="selected-effect-name">Effect Name</label>
          <input type="text" class="form-control" id="selected-effect-name" placeholder="Effect Name">
        </div>
        <div class="form-group">
          <label for="selected-effect-code">Code</label>
          <textarea rows="10" class="form-control" id="selected-effect-code" placeholder="Code"></textarea>
        </div>
      </form>
    </div>
  </div>
</div>
